<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); -%>
    <body>
        <%- include('./partials/header'); -%>
            <section class="section owner-info">
                <div class="container">
                    <div class="row align-items-center columnEdit ">
                        <div class="col-lg-5">
                            <div class="info-avatar">
                                <img id="userImg" src="<%=owner.petImage %>" class="info-img" alt="user-image">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-text go-to">
                                <div class="row info-list">
                                    <div class="col-md-12">
                                        <div class="info-area">
                                            <div class="media username">
                                                <span id="username">
                                                    <%=owner.petName %>
                                                </span>
                                            </div>
                                            <div class="detail-area">
                                                <div class="media location-media">
                                                    <label class="post-view-location-label">Location:</label>
                                                    <span class="location">
                                                        <%=post.city %>&sbquo;
                                                            <%=post.province %>
                                                    </span>
                                                </div>
                                                <div class="media age-media">
                                                    <label class="post-view-age-label">Age:</lable>
                                                        <span class="age-span">
                                                            <%=owner.petAge %>
                                                        </span>
                                                </div>
                                                <div class="media weight-media">
                                                    <label class="post-view-weight-label">Weight:</label>
                                                    <span class="weight-span">
                                                        <%=owner.petWeight %>
                                                    </span>
                                                </div>
                                                <div class="media requirement-area">
                                                    <span class="requirement-title">Requirement:</span>
                                                    <p class="requirement text-break" id="requirement">
                                                        <%=post.desc %>
                                                    </p>
                                                </div>
                                                <div class="post-view-date">
                                                    <div class="media date-media">
                                                        <label>Start Date:</label>
                                                        <span class="date-span">
                                                            <%=post.startDate %>
                                                        </span>
                                                    </div>
                                                    <div class="media date-media">
                                                        <label>End Date:</label>
                                                        <span class="date-span">
                                                            <%=post.endDate %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('./partials/footer') %>
    </body>

</html>