<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>

        <div class="container justify-content-center">
            <h5 class="profile-title text-center mt-5">My Profile</h5>
            <form class="row g-3 d-flex flex-column align-items-center" id="ownerprofile" action="/profile/create"
                method="post" onsubmit="return validateForm()" enctype="multipart/form-data">

                <!-- CREATE PET OWNER PROFILE -->
                <div class="col-12 imgPosition">
                    <label class="filebutton">
                        <span>
                            <input type="file" id="myImg" name="myImg" onchange="attachMyProfile(this)">
                            <img src="<%= avatarImage%>" alt="Add your profile picture" id="profile" class="owner-imgCover">
                        </span>
                    </label>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label for="inputEmail4" class="form-label text_edit form-label-name">Name:</label>
                    <div class="col-md-5">
                        <input type="text" name="name" class="form-control profile-name" id="name" value="<%= name%>">
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit form-label-email">Email:</label>
                    <div class="col-md-5">

                        <input name="email" type="email" class="form-control profile-email" id="email" value="<%= email%>" readonly disabled>
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit form-label-phone">Phone:</label>
                    <div class="col-md-5">

                        <input id="phone" name="phone" type="text" class="form-control profile-phone" id="phone" value="<%= phone%>">
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-evenly province-area">
                    <label class="form-label text_edit">Location:</label>
                    <div class="col-md-5">
                        <div class="input-group province-group">
                            <label class="input-group-text province-input-group-text">Province</label>
                            <select id="province" name="province" class="form-select province-select" value="<%= province%>">
                                <option value="Choose" <%=province==="Choose" ?"selected":"" %>>Choose...</option>
                                <option value="BritishColumbia" <%=province==="BritishColumbia" ?"selected":"" %>
                                    >British Columbia</option>
                                <option value="Alberta" <%=province==="Alberta" ?"selected":"" %>>Alberta</option>
                                <option value="Manitoba" <%=province==="Manitoba" ?"selected":"" %>>Manitoba</option>
                            </select>
                            <!-- <select id="province" name="province" onchange="selectCity(this.value)" class="form-select" value="<%= province%>" >
                                <option value="Choose" <%=province==="Choose" ?"selected":"" %>>Choose...</option>
                                <option id="0" value="0" <%=province==="Alberta" ?"selected":"" %>>Alberta</option>
                                <option id="1" value="1" <%=province==="BritishColumbia" ?"selected":"" %>>British Columbia</option>
                                <option id="2" value="2" <%=province==="Manitoba" ?"selected":"" %>>Manitoba</option>
                                <option id="3" value="3" <%=province==="NewBrunswick" ?"selected":"" %>>New Brunswick
                                </option>
                                <option id="4" value="4" <%=province==="NewfoundlandandLabrador" ?"selected":"" %>
                                    >Newfoundland and Labrador</option>
                                <option id="5" value="5" <%=province==="NovaScotia" ?"selected":"" %>>Nova Scotia
                                </option>
                                <option id="6" value="6" <%=province==="Ontario" ?"selected":"" %>>Ontario</option>
                                <option id="7" value="7" <%=province==="PrinceEdwardIsland" ?"selected":"" %>>Prince
                                    Edward Island</option>
                                <option id="8" value="8" <%=province==="Quebec" ?"selected":"" %>>Quebec</option>
                                <option id="9" value="9" <%=province==="Saskatchewan" ?"selected":"" %>>Saskatchewan
                                </option>
                                <option id="10" value="10" <%=province==="NorthwestTerritories" ?"selected":"" %>
                                    >Northwest Territories</option>
                                <option id="11" value="11" <%=province==="Yukon" ?"selected":"" %>>Yukon</option>
                                <option id="12" value="12" <%=province==="Nunavut" ?"selected":"" %>>Nunavut</option>
                            </select> -->
                        </div>
                    </div>
                </div>
                <div class="mw-100 d-flex justify-content-evenly city-area">
                    <div class="col-md-5 marginPosition">
                        <div class="input-group city-group">
                            <label class="input-group-text city-input-group-text">City</label>
                            <select id="city" name="city" class="form-select city-select" value="<%= city%>">
                                <option value="Choose" <%=province==="Choose" ?"selected":"" %>>Choose...</option>
                                <option value="Vancouver" <%=city==="Vancouver" ?"selected":"" %>>Vancouver</option>
                                <option value="Richmond" <%=city==="Richmond" ?"selected":"" %>>Richmond</option>
                                <option value="Burnaby" <%=city==="Burnaby" ?"selected":"" %>>Burnaby</option>
                            </select>
                            <!-- <select id="city" name="city" class="form-select selectpicker multiple" onchange="setCity(event)" value="<%= city%>">
                                <option value="Choose" <%=city==="Choose" ?"selected":"" %>>Choose...</option>
                                <option value="Burnaby" <%=city==="Burnaby" ?"selected":"" %>>Burnaby</option>
                                <option value="Coquitlam" <%=city==="Coquitlam" ?"selected":"" %>>Coquitlam</option>
                                <option value="Calgary" <%=city==="Calgary" ?"selected":"" %>>Calgary</option>
                                <option value="Charlottetown" <%=city==="Charlottetown" ?"selected":"" %>>Charlottetown</option>
                                <option value="Edmonton" <%=city==="Edmonton" ?"selected":"" %>>Edmonton</option>
                                <option value="Moncton" <%=city==="Moncton" ?"selected":"" %>>Moncton</option>
                                <option value="Montreal" <%=city==="Montreal" ?"selected":"" %>>Montreal</option>
                                <option value="Northvancouver" <%=city==="NorthVancouver" ?"selected":"" %>>North Vancouver</option>
                                <option value="Fredericton" <%=city==="Fredericton" ?"selected":"" %>>Fredericton</option>
                                <option value="Halifax" <%=city==="Halifax" ?"selected":"" %>>Halifax</option>
                                <option value="Iqaluit" <%=city==="Iqaluit" ?"selected":"" %>>Iqaluit</option>
                                <option value="Quebeccity" <%=city==="QuebecCity" ?"selected":"" %>>Quebec City</option>
                                <option value="Richmond" <%=city==="Richmond" ?"selected":"" %>>Richmond</option>
                                <option value="Regina" <%=city==="Regina" ?"selected":"" %>>Regina</option>
                                <option value="Surrey" <%=city==="Surrey" ?"selected":"" %>>Surrey</option>
                                <option value="Stjohns" <%=city==="St.John's" ?"selected":"" %>>St. John's</option>
                                <option value="Saskatoon" <%=city==="Saskatoon" ?"selected":"" %>>Saskatoon</option>
                                <option value="Toronto" <%=city==="Toronto" ?"selected":"" %>>Toronto</option>
                                <option value="Victoria" <%=city==="Victoria" ?"selected":"" %>>Victoria</option>
                                <option value="Vancouver" <%=city==="Vancouver" ?"selected":"" %>>Vancouver</option>
                                <option value="White Rock" <%=city==="WhiteRock" ?"selected":"" %>>White Rock</option>
                                <option value="Williamslake" <%=city==="WilliamsLake" ?"selected":"" %>>Williams Lake</option>
                                <option value="Winnipeg" <%=city==="Winnipeg" ?"selected":"" %>>Winnipeg</option>
                                <option value="Whitehorse" <%=city==="Whitehorse" ?"selected":"" %>>Whitehorse</option>
                                <option value="Yellowknife" <%=city==="Yellowknife" ?"selected":"" %>>Yellowknife</option>
                            </select> -->
                        </div>
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit form-label-pwd">Password:</label>
                    <div class="col-md-5">
                        <input name="password" type="password" class="form-control profile-password" id="pwd">
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit form-label-cnfpwd">Confirm <br> Password:</label>
                    <div class="col-md-5">
                        <input name="cnfpwd" type="password" class="form-control profile-cnfpawd" id="cnfpwd">
                    </div>
                </div>

                <!-- pet profile -->
                <h5 class="pet-profile-title text-center">My Pet</h5>
                <div class="col-md-5 imgPosition">
                    <label class="filebutton">
                        <span>
                            <input type="file" id="petImg" name="petImg" onchange="attachMyPetPic(this)">
                            <img src="<%= petImage%>" alt="Add your profile picture" id="petProfile" class="owner-imgCover">
                        </span>
                    </label>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label for="inputEmail4" class="form-label text_edit form-label-petname">My Pet Name</label>
                    <div class="col-md-5">
                        <div class="row g-3">
                            <div class="col">
                                <input type="text" class="form-control profile-petname" id="petName" name="petName"
                                    value="<%= petName%>">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-center type-area">
                    <div class="col-md-5 marginPosition">
                        <div class="row g-3">
                            <div class="col">
                                <div class="input-group type-group  ">
                                    <label class="input-group-text type-input-group-text">Pet Type</label>
                                    <select id="petType" name="petType" class="form-select pet-type-select"
                                        value="<%= petType%>">
                                        <option value="Choose" <%=petType==="Choose" ?"selected":"" %>>Choose...
                                        </option>
                                        <option value="dog" <%=petType==="dog" ?"selected":"" %>>Dog</option>
                                        <option value="cat" <%=petType==="cat" ?"selected":"" %>>Cat</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mw-100 d-flex justify-content-center age-area">
                    <div class="col-md-5 marginPosition">
                        <div class="row g-3">
                            <div class="col">
                                <div class="input-group age-group  ">
                                    <label class="input-group-text age-input-group-text">Age</label>
                                    <select id="petAge" name="petAge" class="form-select age-select"
                                        value="<%= petAge%>">
                                        <option class="age-option" value="Choose" <%=petAge==="Choose" ?"selected":"" %>>Choose...</option>
                                        <option class="age-option" value="05" <%=petAge==="05" ?"selected":"" %>>0 - 5</option>
                                        <option class="age-option" value="610" <%=petAge==="610" ?"selected":"" %>>6 - 10</option>
                                        <option class="age-option" value="1115" <%=petAge==="1115" ?"selected":"" %>>11 -15</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mw-100 d-flex justify-content-center weight-area">
                    <div class="col-md-5 marginPosition">
                        <div class="row g-3">
                            <div class="col">
                                <div class="input-group weight-group  ">
                                    <label class="input-group-text weight-input-group-text">Weight (lbs)</label>
                                    <select name="petWeight" id="petWeight" data-container="body" class="form-select weight-select"
                                        value="<%= petWeight%>">
                                        <option class="weight-option" value="Choose" <%=petWeight==="Choose" ?"selected":"" %>>Choose...
                                        </option>
                                        <option class="weight-option" value="1050" <%=petWeight==="1050" ?"selected":"" %>>10 - 50</option>
                                        <option class="weight-option" value="51100" <%=petWeight==="51100" ?"selected":"" %>>51 - 100</option>
                                        <option class="weight-option" value="101120" <%=petWeight==="101120" ?"selected":"" %>>101 - 120
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                


                <div class="col-12 text-end save-btn-area">
                    <button type="submit" class="btn btn-primary saveBtn">Save</button>
                </div>
            </form>
        </div>
</body>

</html>