<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <script src="./js/sitterProfile.js"></script>
</head>
<body>
    <%- include('../partials/header') %>
        
        <!-- the design chage to here: Bootstrap -->
        <div class="container justify-content-center">
            <h5 class="profile-title text-center mt-5">My Profile</h5>
            <form class="row g-3 d-flex flex-column align-items-center" id="sitterprofile" action="/profile/createsitter" method="post" onsubmit="return validateForm()" enctype="multipart/form-data">
                
                <!-- CREATE PET SITTER PROFILE -->
                <div class="col-12 imgPosition">
                    <label class="filebutton">
                        <span>
                            <input type="file" id="myImg" name="myImg" onchange="attachMyProfile(this)">
                            <img src="<%= avatarImage%>" alt="Add your profile picture" id="petSitterProfile"
                                class="imgCover">
                        </span>
                    </label>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Name:</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="name" name="name" value="<%= name%>">
                    </div>
                </div>
                
                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Email:</label>
                    <div class="col-md-6">
                        <input name="email" type="email" class="form-control" id="email"  value="<%= email%>">
                    </div>
                </div>
                
                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Phone:</label>
                    <div class="col-md-6">
                        <input id="phone" name="phone" type="text" class="form-control" value="<%= phone%>">
                    </div>
                </div>
                
                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Location:</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-text">Province</label>
                            <select id="province" name="province" class="form-select" value="<%= province%>">
                                <option value="Choose" <%= province==="Choose"?"selected":"" %>>Choose...</option>
                                <option value="BritishColumbia" <%= province==="BritishColumbia"?"selected":"" %>>British Columbia</option>
                                <option value="Alberta" <%= province==="Alberta"?"selected":"" %>>Alberta</option>
                                <option value="Manitoba" <%= province==="Manitoba"?"selected":"" %>>Manitoba</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="mw-100 d-flex justify-content-around">
                    <div class="col-md-6 marginPosition">
                        <div class="input-group">
                            <label class="input-group-text">City</label>
                            <select id="city" name="city" class="form-select" value="<%= city%>">
                                <option value="Choose" <%= province==="Choose"?"selected":"" %>>Choose...</option>
                                <option value="Vancouver" <%= city==="Vancouver"?"selected":"" %>>Vancouver</option>
                                <option value="Richmond" <%= city==="Richmond"?"selected":"" %>>Richmond</option>
                                <option value="Burnaby" <%= city==="Burnaby"?"selected":"" %>>Burnaby</option>
                            </select>
                        </div>
                    </div>
                </div>
                

                <div class="mw-100 d-flex justify-content-evenly">
                    <label for="inputEmail4" class="form-label text_edit">Password:</label>
                    <div class="col-md-6">
                        <input name="password" type="password" class="form-control" id="pwd">
                    </div>
                </div>
                
                <div class="mw-100 d-flex justify-content-evenly">
                    <label for="inputPassword4" class="form-label text_edit">Confirm <br> Password:</label>
                    <div class="col-md-6">
                        <input name="cnfpwd" type="password" class="form-control" id="cnfpwd">
                    </div>
                </div>
                
                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="text_edit" for="exampleFormControlTextarea1">About Me:</label>
                    <div class="col-md-6">
                        <div class="form-group">
                            
                            <textarea class="form-control" id="aboutme" name="aboutme" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="hire_edit text-center mt-5"><label>Photography:</label></div>
                <div class="col-md-3">
                    
                    <div class="d-flex flex-row justify-content-evenly mt-1 flex-wrap">
                        
                        <div class="col mx-3">
                            <label class="photography">
                                <span>
                                    <input type="file" id="photo1" name="photo1" onchange="attachPhoto1(this)">
                                    <img src="<%= photo1%>" alt="Add photos" id="photoCover1" name="photoCover1" class="photoCover">
                                </span>
                            </label>
                        </div>

                        <div class="col mx-3">
                            <label class="photography">
                                <span>
                                    <input type="file" id="photo2" name="photo2" onchange="attachPhoto2(this)">
                                    <img src="<%= photo2%>" alt="Add photos" id="photoCover2" name="photoCover2" class="photoCover">
                                </span>
                            </label>
                        </div>

                        <div class="col mx-3">
                            <label class="photography">
                                <span>
                                    <input type="file" id="photo3" name="photo3" onchange="attachPhoto3(this)">
                                    <img src="<%= photo3%>" alt="Add photos" id="photoCover3" name="photoCover3" class="photoCover">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                
                <!-- SUBMIT BUTTON -->
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary saveBtn">Save</button>
                </div>
            </form>
        </div>
</body>

</html>
