<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>

        <div class="container justify-content-center list-area">
            <h3 class="job-title">Looking for a job?</h3>
            <!-- filter -->
            <div class="filter-area">
                <form action="/list/listpetpost" method="post">
                    <div class="row filter">
                        <!-- <div class="col-sm-2 filter-title-area">
                            <h5 class="filter-title">Filter : </h5>
                        </div> -->
                        <div class="col-sm-2 province">
                            <select id="province" name="province" onchange="filterCities()" class="selectpicker multiple province-selectpicker" value="">
                                <option value="- Select Province -">- Select Province -</option>
                                <option value="Alberta">Alberta</option>
                                <option value="British Columbia">British Columbia</option>
                                <option value="Manitoba">Manitoba</option>
                                <option value="New Brunswick">New Brunswick</option>
                                <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                                <option value="Nova Scotia">Nova Scotia</option>
                                <option value="Ontario">Ontario</option>
                                <option value="Prince Edward Island">Prince Edward Island</option>
                                <option value="Quebec">Quebec</option>
                                <option value="Saskatchewan">Saskatchewan</option>
                                <option value="Northwest Territories">Northwest Territories</option>
                                <option value="Yukon">Yukon</option>
                                <option value="Nunavut">Nunavut</option>
                            </select>
                        </div>
                        <div class="col-sm-2 city">
                            <select id="city" name="city" class="selectpicker multiple city-selectpicker">
                                <option value="- Select City -">- Select City -</option>
                                <option value="Burnaby">Burnaby</option>
                                <option value="Coquitlam">Coquitlam</option>
                                <option value="Calgary">Calgary</option>
                                <option value="Charlottetown">Charlottetown</option>
                                <option value="Edmonton">Edmonton</option>
                                <option value="Moncton">Moncton</option>
                                <option value="Montreal">Montreal</option>
                                <option value="Northvancouver">North Vancouver</option>
                                <option value="Fredericton">Fredericton</option>
                                <option value="Halifax">Halifax</option>
                                <option value="Iqaluit">Iqaluit</option>
                                <option value="Quebeccity">Quebec City</option>
                                <option value="Richmond">Richmond</option>
                                <option value="Regina">Regina</option>
                                <option value="Surrey">Surrey</option>
                                <option value="Stjohns">St. John's</option>
                                <option value="Saskatoon">Saskatoon</option>
                                <option value="Toronto">Toronto"</option>
                                <option value="Victoria">Victoria</option>
                                <option value="Vancouver">Vancouver</option>
                                <option value="Whiterock">White Rock</option>
                                <option value="Williamslake">Williams Lake</option>
                                <option value="Winnipeg">Winnipeg</option>
                                <option value="Whitehorse">Whitehorse</option>
                                <option value="Yellowknife">Yellowknife</option>
                            </select>
                        </div>
                        <div class="col-sm-2 type">
                            <select id="petType" name="petType" onchange="filterfeatures()" class="selectpicker type-selectpicker">
                                <option value="- Select Type -">- Select Type -</option>
                                <option value="Cat">Cat</option>
                                <option value="Dog">Dog</option>
                            </select>
                        </div>
                        <div class="col-sm-2 age">
                            <select id="age"  name="petAge" class="selectpicker age-selectpicker">
                                <option value="- Select Age -">- Select Age -</option>
                                <option value="Puppy">Puppy</option>
                                <option value="Kitty">Kitty</option>
                                <option value="Adult">Adult</option>
                                <option value="Oldest">Oldest</option>
                            </select>
                        </div>
                        <div class="col-sm-2 weight">
                            <select id="weight" name="petWeight" class="selectpicker weight-selectpicker">
                                <option value="- Select Weight -">- Select Weight -</option>
                                <option value="less than 5 lbs">less than 5 lbs</option>
                                <option value="less than 7 lbs">less than 7 lbs</option>
                                <option value="5 - 10 lbs">5 - 10 lbs</option>
                                <option value="7 - 10 lbs">7 - 10 lbs</option>
                                <option value="10 - 20 lbs">10 - 20 lbs</option>
                                <option value="20 - 30 lbs">20 - 30 lbs</option>
                                <option value="30 - 40 lbs">30 - 40 lbs</option>
                                <option value="Greater than 20 lbs">Greater than 20 lbs</option>
                                <option value="Greater than 50 lbs">Greater than 50 lbs</option>
                            </select>
                        </div>
                        <div class="col-sm-2 pet-search-btn">
                            <button type="submit" id="searchbtn" class="search-btn">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- filter end -->
            <div class="row post-list" id="joblistsview">
                <% for(var i=0; i < result.length; i++) {%>
                    <div class="card mb-3 post-card">
                        <div class="row no-gutters">
                            <div class="col-md-4 img-area">
                                <img id="petimg" src="<%= result[i].profile.petImage%>" class="card-img" alt="pet-img">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body card-content-list">
                                    <h4 class="card-title">
                                        <%= result[i].title %>
                                    </h4>
                                    <h5 class="location">
                                        <%= result[i].profile.city %>, <%= result[i].profile.province %>
                                    </h5>
                                    <p class="card-text info text-break">
                                        <%= result[i].desc %>
                                    </p>
                                    <a href="/postinfo/ownerlist/<%=result[i]._id%>" id="learnmore"
                                                    class="btn stretched-link read-more" onclick="return checkUserLoggedIn(event)">Read 
                                                    more...</a>
                                    <p class="card-text card-date pet-card-date"><small class="text-muted list-text-muted pet-date-list">
                                            <%= fd(result[i].createdAt) %>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
        <%- include('../partials/footer') %>
</body>

</html>