<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        <div class="jumbotron">
            <div class="container">
                <ul>
                  <% for(var i=0; i < petprofile.length; i++) {%>
                        <li>
                            <img src="<%= petprofile[i].petImage %>" alt="" width="100" height="100">
                            <p>
                                <%= petposts[i].province %>, <%= petposts[i].city %>
                            </p>
                            <p>
                                <%= petposts[i].desc %>
                            </p>
                        </li>
                        <hr />
                    <% } %>
                </ul>
            </div>
        </div>
        <%- include('../partials/footer') %>
</body>

</html>