<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        <div class="jumbotron">
            <div class="container">
                <ul>
                  <% for(var i=0; i < sitterposts.length; i++) {%>
                        <li>
                            <img src="<%= sitterprofile[i].avatar %>" alt="" width="100" height="100">
                            <h2> <%= sitterprofile[i].name %></h2>
                            <p>
                                <%= sitterprofile[i].province %>, <%= sitterprofile[i].city %>
                            </p>
                            <p>
                              <%= sitterposts[i].experience %>
                            </p>
                        </li>
                        <hr />
                    <% } %>
                </ul>
            </div>
        </div>
        <%- include('../partials/footer') %>
</body>

</html>